<%- include("header",{type:''}) %>
<div class="container">

    <form style="width:100%;" method="post" id="form2">
        <div>
            <label>标题：</label>
            <input placeholder="请输入标题" type="text" name="title">
        </div>
        <div>
            <label>类别：</label>
            <input placeholder="请输入类别" type="text" name="category">
        </div>
        <div>
            <label>内容：</label>
            <div id="div3"></div>
            <textarea style="height: 0px;width: 0px;" placeholder="请输入内容" name="content" id="text1" cols="42" rows="10"></textarea>
        </div>
        <button id="artsubm" type="submit">发表</button>
    </form>
</div>

<script type="text/javascript">
    var E = window.wangEditor
    var editor2 = new E('#div3')
    editor2.customConfig.menus = [  //菜单配置，不要可以直接去掉这个默认全部功能都有如下图
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'link',  // 插入链接
        'list',  // 列表
        'justify',  // 对齐方式
        'image',  // 插入图片
        'table',  // 表格
        'video',  // 插入视频
        'code',  // 插入代码
        'undo'  // 撤销
    ];
    var $text1 = $('#text1');
    editor2.customConfig.onchange = function (html) {
        $text1.val(html)
    };
    editor2.create();
    $text1.val(editor2.txt.html())
    $("#artsubm").click(function () {
        $.ajax({
            type: 'post',
            url: "/article_adds",
            data: $("#form2").serialize(),
            dataType: "json",
            success: function (msg) {
                if (msg.code == 200){
                    alert("上传成功！");
                    window.location.href = "/art";
                }else{
                    alert("上传失败！");
                }
            },
            error: function () {
                alert("异常");
            }
        });
        console.log($("#form2").serialize());
    })

</script>

</body>
</html>
