*{margin:0;padding:0}
li{list-style:none}
img{vertical-align:top;border:none}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
body{
    background-color: #fcf4f2;
}
input{
    width:15rem;
    height:40px;
    border:1px solid #c0c0c0;
    font-size: 16px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
header{
    width:100%;
    height:50px;
    background-color: lightpink;
}
.list{
    width:100%;
    height:100%;
    display: inline-block;
    margin:0 auto;
    text-align: center;
}
.list li{
    width:20%;
    display: inline-block;
    color: #fff;
    line-height:50px;
}
.user{
    float: right;
    width:55%;
    height:100%;
    display: inline-block;
}
.user span{
    float: right;
    width:55%;
    line-height:50px;
    color: #fff;
}
.container{
    width: 50rem;
    margin: 10px auto;
    padding:10px;
    text-align: left;
    background-color: #fcf4f2;
}
.lists{
    padding:10px;
    margin:10px;
    background-color: #fff;
}
.preview{
    width: 100px;
    height: 100px;
}