*{margin:0;padding:0}
li{list-style:none}
img{vertical-align:top;border:none}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
input{
    width:14rem;
    height:40px;
    border:1px solid #c0c0c0;
    font-size: 16px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
header{
    width:100%;
    height:50px;
    background-color: #8a7579;
}
.list{
    width:100%;
    height:100%;
    display: inline-block;
    margin:0 auto;
    text-align: center;
}
.list li{
    width:20%;
    display: inline-block;
    color: #fff;
    line-height:50px;
}
.user{
    float: right;
    width:55%;
    height:100%;
    display: inline-block;
}
.user span{
    float: right;
    width:55%;
    line-height:50px;
    color: #fff;
}
.container{
    width: 50rem;
    margin: 10px auto;
    padding:10px;
    text-align: left;
}
.lists{
    padding:10px;
    margin:10px;
    background-color: #fff;
    border: 1px solid #8a7579;
}
.preview,.rpreview,.rpreviews{
    display: block;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}
.previews{
    display: block;
    margin-top: 10px;
    width: 300px;
}
.form2,.form3{
    display: none;
}
.submit3,.submit,.submit2,.submit4,.submit5{
    color: blue;
}
.blog{
    margin: 10px;
}
.import-img{
    width: 80px;
    height: 27px;
}
.mg10{
    margin: 10px;
}
.title{
    display: inline-block;
}
